{

    "extends": "standard-with-typescript",
    "parserOptions": {
        "project": "./tsconfig.json"
    } ,
    "rules": {
        "@typescript-estint/consistent-type-definitions": "off"
    }

}